{% extends 'base.html.twig' %}

{% block title %}Log In{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('CSS/login.css') }}">
{% endblock %}

{% block body %}
<div class="form-container"> 
    <h1>Log In</h1>

    <form method="post" action="{{path('app_login')}}">
        <input type="email" id="email" name="email" placeholder="Email address" 
               required>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <button type="submit">Log in</button>
    </form>
    
    <p>You don't have an account? <a href="{{ path('app_register') }}">Create your account</a></p>
</div>
<div class="image-container">
    <img src="{{ asset('images/logimage3.jpg') }}" alt="image" >
</div>

{% endblock %}
